.nav-outer-container {
    display: flex;
    background-color: var(--orange-soda);
    width: 100%;
}

.nav-inner-container {
    display: flex;
    justify-content: flex-end;
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 20px 0;
    background-color: blue;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 400px;
    list-style-type: none;
    font-size: 18px;
    background-color: purple;
}

a {
    text-decoration: none;
}

.color-white {
    color: #fff;
}
