.nav-outer-container {
    display: flex;
    width: 100%;
    background-color: var(--orange-soda);
}

.nav-inner-container {
    display: flex;
    justify-content: flex-end;
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 auto;
    padding: 20px 0;
    background-color: var(--orange-soda);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 400px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--orange-soda);
}

a {
    text-decoration: none;
}

.color-white {
    color: #fff;
}
