.inner-container {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 1200px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 auto;
    padding-top: 40px;
    background-color: var(--snow);
}

ul {
    column-count: 3;
    column-gap: 15px;
}