nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    background-color: var(--orange-soda);
    width: 1000px;
    height: 50px;
}

ul {
    list-style-type: none;
    flex-basis: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a, a:link, a:visited, a:focus, a:hover, a:active{
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}