.hot-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 10px;
    height: 150px;
    width: 330px;
    flex-grow: 0;
    flex-shrink: 1;
    box-shadow: 10px 10px 5px #EFF0E0;
    background-color: brown;
}

.title {
    color: red;
}

.comments-ups {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
}

a {
    color: #000;
}