
.main-outer-container {
    display: flex;
    background-color: yellow;
    width: 100%;
    height: 100vh;
}

.main-inner-container {
    display: flex;
    flex-basis: 1400px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0 auto;
    background-color: white;
}

